* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  background-image: url("../images/UIElements/screen_bg_2.png");
  background-size: cover;
  font-family: "Bangers";
}

.page_header_txt {
  width: 100%;
  color: white;
  float: left;
  font-size: 50px;
  margin: 20px auto;
  text-align: center;
}

header {
  background: url("../images/UIElements/screen_light_bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

#logo-irradiant-core {
  position: absolute;
  display: flex;
  height: 100%;
  width: auto;
  float: left;
}

#logo-irradiant-core a {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 6px;
}

#logo-irradiant-core img {
  height: 85%;
  width: auto;
  margin-left: 30px;
}

.main_info {
  color: white;
  position: absolute;
  font-size: 55px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 12px;
  text-align: center;
  text-shadow: 0px 0px 25px #00e6e6;
}

.navigation_logo {
  position: absolute;
  right: 8px;
  height: 100%;
}

.navigation_logo img {
  height: 90%;
}

/* .toggle {
  float: right;
  display: none;
  align-items: center;
  height: 100%;
  font-size: 26px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  z-index: 10;
}

.toggle:hover {
  color: #0e90b0;
} */

.navigation_bar {
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  position: relative;
  z-index: 20;
}

.nav-item a {
  padding: 0px 20px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: ease 0.4s;
}

.nav-item a:hover {
  color: #127ca3;
  cursor: pointer;
  text-shadow: 0px 0px 3px white;
  transition: ease 0.6s;
}

.nav-item a.hdractive {
  color: #127ca3;
  text-shadow: 0px 0px 3px white;
  text-decoration: underline;
}

#slideshow {
  display: flex;
  background-image: url("../images/UIElements/screen_bg_2.png");
  background-size: 100% 100%;
  width: 100%;
}

#slideshow .slideshow_images {
  width: 1067px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#slideshow .slideshow_images img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.leftArrow,
.rightArrow {
  position: absolute;
  margin-left: -200px;
  top: 55%;
  width: auto;
  padding: 30px;
  margin-top: -80px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 10px 3px 3px 10px;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(120, 120, 120, 0.2);
  z-index: 3;
}

.rightArrow {
  right: 0;
  border-radius: 3px 10px 10px 3px;
  margin-right: -200px;
}

.leftArrow:hover,
.rightArrow:hover {
  background-color: rgba(18, 124, 163, 0.8);
}

.pagination_list {
  position: absolute;
  z-index: 5;
  bottom: 8px;
  list-style: none;
  left: 3%;
}

.pagination_list li {
  display: inline-block;
  margin-left: 9px;
}

.pagination_item a {
  height: 27px;
  width: 27px;
  background-color: rgba(255, 153, 51, 0.8);
  box-shadow: 0px 0px 10px rgb(255, 51, 0);
  border-radius: 50%;
  display: block;
  cursor: pointer;
}

.pagination_item a:hover,
.pagination_item a.pagination_active {
  background-color: rgb(250, 0, 0);
}

.animation-slide {
  animation: fading 8s infinite;
}

@keyframes fading {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#links_container {
  width: 100%;
  height: 100px;
  background: url("../images/UIElements/uie_lvl_bg_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

#links_container i {
  color: white;
  transition: ease 0.6s;
  margin: 10px 50px;
}

#links_container i:hover {
  cursor: pointer;
  color: #127ca3;
  text-shadow: 2px 2px 5px white;
  transition: ease 0.6s;
}

#content {
  display: flex;
  width: 100%;
  color: white;
  background-image: url("../images/UIElements/screen_bg_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  padding-top: 40px;
  flex-wrap: wrap;
}

#basic-info {
  /* position: relative; */
  display: block;
  text-align: left;
  width: 50%;
  margin-left: 150px;
}

.logo-container {
  width: 70%;
  margin: auto;
  padding-bottom: 90px;
  padding-top: 40px;
  font-size: 30px;
}

.logo-container img {
  display: block;
  width: 85%;
  padding-bottom: 90px;
}

.emphasis {
  color: #39abd4;
  font-size: 38px;
}

.trailer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.trailer iframe {
  box-shadow: 0px 0px 25px #00e6e6;
}

#credits {
  margin: 80px 0px;
  width: 100%;
  height: 280px;
}

#app_images_container {
  width: 48%;
  height: 100%;
  margin-bottom: 120px;
  float: left;
  text-align: center;
}

.credits_header {
  font-size: 2vw;
  margin-bottom: 30px;
}

#developed_container {
  width: 48%;
  height: 100%;
  text-align: center;
  margin-bottom: 120px;
  float: right;
}

#app_images_container img {
  height: 100px;
  box-shadow: 0px 0px 25px #00e6e6;
}

#app_images_container img:hover {
  box-shadow: 0px 0px 35px #fff;
  opacity: 0.8;
}

#developed_container img {
  height: 150px;
  box-shadow: 0px 0px 25px #00e6e6;
}

#developed_container img:hover {
  box-shadow: 0px 0px 35px #fff;
  opacity: 0.8;
}

.app_logo {
  height: 70%;
  border-radius: 5px;
  margin: auto 0;
}

#twitter_right {
  text-align: right;
  margin: 0 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#twitter_left {
  margin: 50px;
  display: none;
}

.contact_info {
  display: block;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  padding-bottom: 30px;
}

.contact_info a {
  font-size: 38px;
  color: #1120c4;
  transition: ease 0.6s;
}

.contact_info a:hover {
  color: #af11c4;
  text-shadow: 0px 0px 10px white;
  transition: ease 0.6s;
}

/* COOKIES POPUP AND MODAL*/
.cookies-popup {
  padding: 0 10px;
  width: 100%;
  height: 80px;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  font-size: 18px;
  color: black;
  font-family: "Bangers";
  text-shadow: -1px 0 #025e7f, 0 1px #025e7f, 1px 0 #025e7f, 0 -1px #025e7f;
}

.testers_wrapper {
  position: fixed;
  left: 0;
  top: 350px;
  width: 40%;
  padding: 0 50px;
  height: 200px;
  background-image: linear-gradient(#600000, black);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 200;
  text-align: center;
}

.testers_text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.testers_wrapper button {
  cursor: pointer;
  padding: 7px 12px;
  margin-left: 25px;
  color: rgb(170, 0, 0);
  background: black;
  border-color: rgb(170, 0, 0);
  cursor: pointer;
}

.testers-content-text a {
  color: #1120c4;
  transition: ease 0.6s;
  font-style: italic;
}

.testers-content-text a:hover {
  color: #af11c4;
  text-shadow: 0px 0px 10px white;
  transition: ease 0.6s;
}

.testers-content {
  width: 85%;
  /* display: flex; */
  display: none;
  justify-content: center;
  margin: 50px;
}

.testers-content-text {
  text-align: center;
  width: 68%;
  padding: 20px;
  border: solid 5px white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px #00e6e6;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
}

.cookies-popup button {
  margin-left: 20px;
  padding: 5px;
  color: #04739b;
  background: black;
  border-color: #04739b;
  cursor: pointer;
}

#cookies-modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

#cookies-modal .modal-content {
  height: 80%;
  width: 50%;
  position: relative;
  margin: auto;
  display: block;
  background-color: #d6defc;
  color: black;
  padding: 25px;
  border-radius: 6px;
  overflow: auto;
  list-style-position: inside;
  font-family: "Open Sans", sans-serif;
}

#cookies-modal h1 {
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 4px black;
}

#cookies-modal h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  /* padding: 10px 0; */
}

#cookies-modal h3 {
  padding: 10px 0;
}

#cookies-modal .close-button {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#cookies-modal button {
  font-size: 15px;
  padding: 8px;
  background-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
}

#cookies-modal .close_modal {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 50px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: ease 0.7s;
}

#cookies-modal .close_modal:hover {
  color: rgb(180, 0, 0);
  transition: ease 0.8s;
}

footer {
  background: url("../images/UIElements/screen_light_bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000005;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  font-family: "Open Sans", sans-serif;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 40%;
  color: white;
}

.privacy_policy_ftr {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 40%;
}

.privacy_policy_ftr a {
  color: white;
  transition: ease 0.6s;
  cursor: pointer;
  text-decoration: underline;
}

.privacy_policy_ftr a:hover {
  transition: ease 0.6s;
  text-shadow: 0px 0px 18px white;
}

@media only screen and (max-width: 1640px) {
  .leftArrow {
    margin-left: -100px;
  }

  .rightArrow {
    margin-right: -100px;
  }
}

@media only screen and (max-width: 1377px) {
  /* #current_status_right {font-size: 23px;} */
  .navigation_bar a {
    font-size: 32px;
  }

  #basic-info {
    margin-left: 50px;
  }

  .leftArrow {
    top: 57%;
    margin-left: 0px;
    padding: 15px;
    font-size: 20px;
  }

  .rightArrow {
    top: 57%;
    margin-right: 0px;
    padding: 15px;
    font-size: 20px;
  }

  .logo-container {
    width: 85%;
    padding-bottom: 70px;
  }

  .logo-container img {
    padding-bottom: 70px;
  }

  .contact_info {
    font-size: 18px;
  }

  .contact_info a {
    font-size: 25px;
  }

  .main_info {
    font-size: 50px;
    top: 15px;
  }

  #app_images_container img {
    height: 85px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    height: 70px;
  }

  #logo-irradiant-core {
    font-size: 40px;
  }

  #slideshow .slideshow_images {
    width: 980px;
    height: 551px;
  }

  .pagination_item a {
    height: 24px;
    width: 24px;
  }

  /* #current_status {font-size: 21px;} */
  .navigation_bar a {
    font-size: 28px;
  }

  #basic-info {
    margin-left: 40px;
    width: 52%;
  }

  .logo-container {
    width: 90%;
    font-size: 25px;
  }

  .logo-container img {
    padding-bottom: 70px;
  }

  #app_images_container img {
    height: 75px;
  }

  #developed_container img {
    height: 120px;
  }

  #cookies-modal .modal-content {
    width: 80%;
  }

  footer {
    padding: 20px 0;
  }

  .testers-content-text {
    width: 90%;
    font-size: 30px;
  }

  .main_info {
    font-size: 42px;
    top: 15px;
  }
}

@media only screen and (max-width: 992px) {
  header {
    height: 60px;
    display: block;
  }

  .nav-list li {
    border-top: solid 1px black;
    display: block;
    padding: 8px 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #005d8c, black);
    z-index: 5;
  }

  .nav-item a {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 30px;
  }

  .navigation_bar {
    display: none;
    width: 100%;
    text-align: center;
  }

  .toggle {
    display: flex;
  }

  #slideshow .slideshow_images {
    width: 750px;
    height: 422px;
  }

  #slideshow .slideshow_images .slideshow_caption {
    font-size: 25px;
  }

  .pagination_item a {
    height: 20px;
    width: 20px;
  }

  .pagination_list li {
    margin-left: 6px;
  }

  #links_container {
    font-size: 60px;
    height: 80px;
  }

  /* #current_status_right {font-size: 16px;} */
  #basic-info {
    margin-left: 40px;
    width: 55%;
  }

  #credits .credits_header {
    margin-bottom: 30px;
  }

  .contact_info {
    font-size: 17px;
  }

  .contact_info a {
    font-size: 21px;
  }

  .testers_wrapper {
    top: 130px;
  }

  .testers_text {
    font-size: 20px;
  }

  .testers-content-text {
    width: 80%;
    font-size: 25px;
  }

  .main_info {
    font-size: 30px;
    top: 15px;
  }

  #app_images_container img {
    height: 60px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 50px;
  }

  #logo-irradiant-core img {
    margin-left: 10px;
  }

  #logo-irradiant-core a {
    padding-top: 4px;
  }

  .nav-item a {
    font-size: 22px;
  }

  .page_header_txt {
    font-size: 40px;
  }

  #slideshow .slideshow_images {
    width: 465px;
    height: 262px;
  }

  #slideshow .slideshow_images .slideshow_caption {
    font-size: 20px;
  }

  .pagination_item a {
    height: 15px;
    width: 15px;
  }

  .pagination_list li {
    margin-left: 4px;
  }

  .leftArrow {
    top: 70%;
    padding: 10px;
    font-size: 15px;
  }

  .rightArrow {
    top: 70%;
    padding: 10px;
    font-size: 15px;
  }

  #links_container {
    font-size: 38px;
    height: 55px;
  }

  #links_container i {
    margin: 10px 30px;
  }

  #basic-info {
    margin-left: 20px;
    width: 75%;
  }

  /* #current_status_left {display: block; font-size: 25px; margin: 15px auto; width: 49%;} */
  #twitter_right {
    display: none;
  }

  #twitter_left {
    display: block;
    width: 95%;
    margin: 40px auto;
  }

  .logo-container {
    width: 100%;
    font-size: 20px;
    padding-bottom: 70px;
  }

  .logo-container img {
    padding-bottom: 60px;
  }

  #app_images_container img {
    height: 55px;
  }

  #developed_container img {
    height: 125px;
  }

  #credits .credits_header {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #credits {
    height: 190px;
    margin-top: 35px;
  }

  .contact_info {
    font-size: 18px;
    padding-bottom: 30px;
  }

  .contact_info a {
    font-size: 21px;
  }

  footer {
    font-size: 15px;
  }

  .copyright {
    font-size: 10px;
  }

  #cookies-modal .modal-content {
    width: 80%;
    height: 90%;
  }

  #cookies-modal {
    padding-top: 30px;
  }

  .testers-content-text {
    width: 85%;
    font-size: 18px;
  }

  .main_info {
    font-size: 24px;
    top: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .main_info {
    font-size: 15px;
    top: 17px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 35px;
  }

  .toggle {
    font-size: 16px;
    margin-right: 1px;
  }

  .nav-item a {
    font-size: 15px;
  }

  #logo-irradiant-core img {
    margin-left: 5px;
  }

  #logo-irradiant-core a {
    padding-top: 4px;
  }

  .page_header_txt {
    font-size: 30px;
  }

  #slideshow .slideshow_images {
    width: 305px;
    height: 172px;
  }

  #slideshow .slideshow_images .slideshow_caption {
    font-size: 16px;
  }

  .pagination_item a {
    height: 10px;
    width: 10px;
  }

  .pagination_list li {
    margin-left: 3px;
  }

  .leftArrow {
    top: 80%;
    padding: 8px;
    font-size: 15px;
  }

  .rightArrow {
    top: 80%;
    padding: 8px;
    font-size: 15px;
  }

  #links_container {
    font-size: 30px;
    height: 45px;
  }

  #links_container i {
    margin: 10px 15px;
  }

  #content {
    padding-top: 5px;
  }

  #basic-info {
    width: 90%;
  }

  .logo-container img {
    padding-bottom: 40px;
  }

  .logo-container {
    width: 100%;
    font-size: 18px;
    padding: 30px 0 50px 0;
  }

  iframe {
    width: 258px;
    height: 145px;
  }

  #app_images_container img {
    height: 45px;
  }

  #developed_container img {
    height: 100px;
  }

  #credits .credits_header {
    font-size: 17px;
  }

  #credits {
    height: 130px;
  }

  .contact_info {
    font-size: 15px;
    padding-bottom: 25px;
  }

  .contact_info a {
    font-size: 18px;
  }

  footer {
    font-size: 11px;
  }

  .privacy_policy_ftr {
    font-size: 15px;
  }

  .copyright {
    font-size: 7px;
  }

  .cookies-popup {
    font-size: 12px;
  }

  .cookies-popup button {
    font-size: 12px;
  }

  #cookies-modal .modal-content h1 {
    font-size: 23px;
  }

  #cookies-modal .modal-content h2 {
    font-size: 18px;
  }

  #cookies-modal .modal-content h3 {
    font-size: 16px;
  }

  #cookies-modal .modal-content h4 {
    font-size: 13px;
  }

  #cookies-modal .modal-content p {
    font-size: 11px;
  }

  #cookies-modal .modal-content ul {
    font-size: 11px;
  }

  #cookies-modal .modal-content .close_modal {
    font-size: 35px;
  }

  .testers_wrapper button {
    cursor: pointer;
    padding: 2px 5px;
    margin-left: 5px;
  }

  .testers_wrapper {
    top: 110px;
    padding: 0 20px;
    width: 45%;
  }

  .testers_text {
    font-size: 16px;
  }

  .testers-content-text {
    width: 95%;
    font-size: 10px;
    padding: 10px;
    border: solid 3px white;
  }

  .main_info {
    font-size: 9px;
    top: 14px;
  }
}

@media only screen and (max-width: 320px) {
  header {
    height: 30px;
  }

  #logo-irradiant-core a {
    padding-top: 3px;
  }

  .page_header_txt {
    font-size: 20px;
  }

  #slideshow .slideshow_images {
    width: 200px;
    height: 113px;
  }

  #slideshow .slideshow_images .slideshow_caption {
    font-size: 13px;
  }

  .pagination_item a {
    height: 6px;
    width: 6px;
  }

  .pagination_list li {
    margin-left: 1px;
  }

  .leftArrow {
    top: 105%;
    padding: 5px;
    font-size: 10px;
  }

  .rightArrow {
    top: 105%;
    padding: 5px;
    font-size: 10px;
  }

  #links_container {
    font-size: 25px;
    height: 40px;
  }

  #links_container i {
    margin: 10px 12px;
  }

  #basic-info {
    width: 90%;
  }

  /* #current_status_left {font-size: 10px;} */
  #app_images_container img {
    height: 35px;
    margin: 10px;
  }

  #developed_container img {
    height: 80px;
  }

  #credits .credits_header {
    font-size: 11px;
  }

  #credits {
    height: 100px;
  }

  .contact_info {
    font-size: 12px;
  }

  .contact_info a {
    font-size: 15px;
  }

  footer {
    font-size: 9px;
  }

  .testers-content {
    width: 100%;
  }

  .testers-content-text {
    width: 100%;
    font-size: 8px;
    padding: 5px;
    border: solid 2px white;
  }

  .main_info {
    font-size: 9px;
    top: 11px;
  }
}
