#faq_content {
  margin: 0 auto;
  padding: 30px 0px;
  width: 50%;
}

.faq_question {
  width: 100%;
  background-color: black;
  background-image: url("../images/UIElements/uie_game_splash_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  padding: 20px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-align: left;
  outline: none;
  transition: 0.5s;
  color: white;
  text-align: center;
}

.faq_question:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.faq_question:hover, .active {
  background-color: #ccc;
}

.faq_answer {
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  padding: 0 18px;
  color: rgb(217, 217, 217);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 992px) {
  #faq_content {width: 90%;}
}

@media only screen and (max-width: 768px) {
  .faq_question {font-size: 18px;}
  .faq_answer {font-size: 16px;}
}

@media only screen and (max-width: 480px) {
  .faq_question {font-size: 16px;}
  .faq_answer {font-size: 14px;}
}

@media only screen and (max-width: 320px) {
  .faq_question {font-size: 14px;}
  .faq_answer {font-size: 12px;}
}
