#showcase_content {
  display: block;
  overflow: auto;
  color: white;
}

#showcase_content #showcase_videos {
  width: 45%;
  float: left;
}

#showcase_content #showcase_videos iframe {
  display: block;
  margin: 40px auto;
  width: 587px;
  height: 330px;
}

#showcase_content #showcase_images {
  width: 45%;
  float: right;
}

#showcase_content #showcase_images img {
  display: block;
  margin: 40px auto;
  width: 587px;
  height: 330px;
  cursor: pointer;
  transition: 0.4s;
}

#showcase_content #showcase_images img:hover {
  opacity: 0.5;
}

#showcase_content .milestone {
  padding: 5px 0;
  color: white;
  font-size: 30px;
  text-align: center;
  border-bottom: dashed 6px white;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

#myModal .modal_content {
  position: relative;
  margin: auto;
  display: block;
  width: 80%;
}

#myModal .close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 66px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

#myModal .close_modal:hover {
  color: #999;
}

#myModal .caption {
  margin: auto;
  display: block;
  width: 70%;
  text-align: center;
  color: white;
  padding: 15px 0;
  height: 15px;
  font-size: 30px;
  font-weight: bold;
}

/* Add Animation */
.modal_content, .caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(120, 120, 120, 0.5);

}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(256, 256, 256, 0.8);
}

/* .prev {
left: 0;
border-radius: 3px 0 0 3px;
} */

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@media only screen and (max-width: 1377px) {
  #showcase_content #showcase_images img {width: 500px; height: 330px;}
  #showcase_content #showcase_videos iframe {width: 500px; height: 330px;}
}

@media only screen and (max-width: 1100px) {
  #showcase_content #showcase_images img {width: 450px; height: 253px;}
  #showcase_content #showcase_videos iframe {width: 450px; height: 253px;}
  #myModal .modal_content {width: 80%;}
  #myModal .caption {font-size: 25px;}
}

@media only screen and (max-width: 992px) {
  #showcase_content #showcase_images img {width: 350px; height: 197px;}
  #showcase_content #showcase_videos iframe {width: 350px; height: 197px;}
}

@media only screen and (max-width: 768px) {
  #showcase_content #showcase_images img {width: 220px; height: 124px;}
  #showcase_content #showcase_videos iframe {width: 220px; height: 124px;}
  #showcase_content .milestone {font-size: 25px; border-bottom: dashed 4px white;}
  #myModal {padding-top: 120px;}
  #myModal .caption {font-size: 20px;}
  #myModal .close_modal {font-size: 40px;}
  .prev, .next {padding: 10px; font-size: 12px;}
}

@media only screen and (max-width: 480px) {
  #showcase_content #showcase_images img {width: 150px; height: 85px;}
  #showcase_content #showcase_videos iframe {width: 150px; height: 85px;}
  #showcase_content .milestone {font-size: 18px; border-bottom: dashed 3px white;}
  #myModal .modal_content {width: 100%;}
  .prev, .next {padding: 8px; font-size: 8px;}
}

@media only screen and (max-width: 320px) {
  #showcase_content #showcase_images img {width: 100px; height: 57px;}
  #showcase_content #showcase_videos iframe {width: 100px; height: 57px;}
  #myModal .caption {font-size: 15px;}
}
