<footer>
  <div class="privacy_policy_ftr">
    <a target="_blank" onclick="showCookiesModal()">Privacy Policy</a>
  </div>
  <div class="copyright">&#169; 2018 Copyright Sami Valkonen | All Rights Reserved</div>
</footer>
