<div id="logo-irradiant-core">
  <a href="http://irradiantcore.com/">
    <img src="images/GameLogo/IrradiantLogo_plus_icon.png" alt="LOGO" />
  </a>
</div>

<div class="main_info">
  <div>Available on February 27th</div>
</div>

<div class="navigation_logo">
  <a class="" href="http://sekvensoft.com" target="_blank">
    <img src="images/logo_trans_with_text_fitted.png" alt=""
  /></a>
</div>

<!-- <div class="toggle">
  <i class="fa fa-bars"></i>
</div> -->
