html {
  background-color: #bcbcbc;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 70%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

input {
  display: block;
  margin: 0 auto;
}

#user-info {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  border-bottom: solid 2px #d6d6d6;
  box-sizing: border-box;
}

#user-info-txt {
  margin: 1.2vw 2.4vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6vw;
}

#logout-btn {
  padding: 0.5vw 1vw;
  margin: 1.2vw;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.6vw;
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 3px 1px black;
  background-color: #3369ff;
  transition: ease 0.5s;
  font-size: 1.6vw;
}

#logout-btn:hover {
  background-color: #ce5dfc;
  transition: ease 0.6s;
  box-shadow: 4px 4px 5px 1px grey;
}

.emp {
  font-size: 1.9vw;
  color: blue;
  text-shadow: 0 2px 5px black;
}

.content {
/* border: solid 2px green; */
  margin: 50px auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin: 0 auto;
  width: 65%;
  margin-bottom: 6.5vw;
}

.logo img {
  width: 100%;
}

h1 {
  font-size: 4.2vw;
  margin-bottom: 6vw;
  text-decoration: underline;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.number {
  margin-left: 5px;
  color: blue;
  font-size: 2.5vw;
  text-shadow: 0 2px 5px black;
}

#showHide {
  box-sizing: border-box;
  margin: 20px 0px;
  width: 100%;
  border: solid 2px blue;
  padding: 10px 30px;
  color: blue;
  font-size: 25px;
  font-weight: 700;
  background-color: #bababa;
  border-radius: 5px;
  transition: ease 0.5s;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 2px 5px black;
}

#showHide:hover {
  cursor: pointer;
  border-color: black;
  color: black;
  background-color: #4254ff;
  transition: ease 0.8s;
}

.ips {
  width: 100%;
  display: none;
  text-align: center;
  font-size: 1.4vw;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  #showHide {font-size: 3.5vw; margin: 15px 0px; padding: 5px 10px;}
}
