* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e2e2;
  font-family: 'Bangers';
}

.wrapper {
  margin: 0 auto;
  width: 375px;
  /* border: solid 2px red; */
}

.logo-container {
  width: 100%;
  padding: 40px 0 50px 0;
}

.logo-container img {
  width: 95%;
}

h3 {
  margin: 0px 5px 20px 0px;
  font-size: 23px;
}

.form-content {
  padding: 20px 0;
  background-color: white;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

form {
  /* border: solid 2px green; */
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 10px;
  padding: 8px;
  border-radius: 3px;
  width: 80%;
}

input[type="submit"] {
  font-size: 25px;
  margin-top: 20px;
  background-color: #00abb5;
  border-radius: 5px;
  display: block;
  font-family: 'Bangers';
  transition: ease 0.6s;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: white;
  transition: ease 0.8s;
}

.login-error {
  margin-top: 15px;
  display: block;
  color: red;
  font-size: 20px;
}

.input-error {
  box-shadow: 0 0 6px red;
}

@media only screen and (max-width: 480px) {
  .wrapper {width: 230px;}
  h3 {font-size: 18px;}
  input[type="submit"] {font-size: 18px;}
}
